body{
  margin: 0;
  padding: 0;
  font-family: 'Prata', serif;
}
/*.Mainmenu{
  z-index: 3;
  width: 100%;
  height: 280px;
  background: white;
  -webkit-box-shadow: 15px 22px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 15px 22px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 15px 22px 8px 0px rgba(34, 60, 80, 0.2);
  position: absolute;
*/

}
.popartistsmm
{
  margin-left:600px;
}
.Mainmenu img{
  height: 150px;
  width:450px;
  margin-left: 40%;
  margin-top: 2%;

}
.Mainmenu ul {
  list-style: none;

  margin-top: -3%;
  margin-left:5%;

}
.Mainmenu a {

  font-size: 1.6vw;
  color: black;
  text-decoration: none;
  z-index: 5;

}
.Mainmenu li {
  display: inline;
  margin: 30px;

}


.block{
  border: 1px solid black;
  background: black;
  width: 100%;
  height:300px;
  z-index: -1;
  margin-top: -9%;
}
.Iphonechik{
  position: relative;
  height:1000px;
  width:500px;
  margin-top:900px;

  margin-left: 35%;
  z-index: 3;
}
.web-site{
  z-index: 4;
  position: relative;
  font-size 100px;
  color:white;
  float: right;
  margin-top: -40%;
  margin-right: 16%;
  font-family: 'Bebas Neue', cursive;
}
.second{
  z-index: 1;
  margin-top: -38%;
  position: relative;
  width: 100%;
  height:1200px;
  background: url(../image/BC.jpg);

}
.block2{
  border: 1px solid black;
  width:900px;
  height: 450px;
  background: black;
  border-radius: 5%;
  opacity: 0.6;
  position: absolute;
  margin-top: 35%;
  margin-left: 6%;
}
.second p{
  opacity: 1;
  color: white;
  font-size: 1.6vw;
  margin-top: 40%;
  margin-left: 8%;

  position:absolute;
}
.Third{
  width: 100%;
  height:1500px;
  position: absolute;

}
.parallax__image {
 height: 140vh;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center center;
 -webkit-background-size: cover;
 background-size: cover;


}
.parallax__image:nth-child(1) {
 background-image: url(../image/5.jpg);
 background-size: 96.5%;
}

.parallax__image:nth-child(2) {
 background-image: url(../image/10.jpg);

}

.parallax__image:nth-child(3) {
 background-image: url(../image/12.jpg);
 background-size: 114%;
}

.parallax__image:nth-child(4) {
 background-image: url(../image/11.jpg);
}

.header {
 position: absolute;

 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-family: "Montserrat", serif;
 font-size: 50px;
 color: #fff;
 text-transform: uppercase;
}
.parallax__image p{
  z-index: 4;
  font-family: "Montserrat", serif;
  font-size: 30px;
  margin-left:25%;
  margin-top: 20%;
  color: #fff;
  text-transform: uppercase;
}
.Fourth{

  background: url(13.jpg) no-repeat;
  width:100%;
  background-size: 120%;
  height:1080px;
  position: absolute;
  margin-top: 145px;
  font-size: 4vw;

}
.Fourth h1{
  margin-top:30%;
  margin-left: 30%;
}
.Fourth hr{
    margin-top: -7%;
    border-width:3px ;
    margin-left: 27%;
    border-color:black;
}
.Fifth {
  width:100%;
  height:830px;
  position: absolute;
  margin-top: 1225px;
  font-size: 2vw;
}
.Fifth img{
  float:right;
}
.Fifth h3{
margin-left: 4%;
margin-top: 20%;
}
.Fifth a{
  border: 1px solid black;
  width:300px;
  height: 200px;

  background: black;
  color:white;
  text-decoration: none;
  margin-left: 20%;
}
.sidney{ 
  border: 1px solid black; 
  width:300px; 
  height: 200px; 
 
  background: black; 
  color:white; 
  text-decoration: none; 
  margin-left: 10%; 
}
.logo
{
  margin-top:30px;
  margin-right:200px;
  /*margin-left:600px;*/
}
@media screen and (max-width:600px){
.Fifth{
  position: absolute;
  margin-top: 500px;
}

}